@media only screen and (min-width: 38rem){

    header {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        width: 140%;
    }

    .navigation ul {
        display: flex;
        gap: 1rem;
        margin: 0;
        padding: 1rem 2rem;
    }

    .Routine_container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .weatherContainer {
        grid-template-columns: 320px 1fr;
        align-items: start;
    }

    .footerContainer{
        width: 1000px;
        padding: 4px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
    }
}