:root {
    --nav-bg-color: rgb(94, 135, 225);
    --nav-current-color: #3aa4c1;
    --silver-membership: #C0C0C0;
    --gold-membership: #D4AF37;
}

body {
	font-family: Roboto, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 8px;
    align-items: end;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

header img {
    display: block;
    max-width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: black;
}

h1 {
    text-align: center;
}

h2 {
	margin: 1rem 0;
}

.grid {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card, .silver, .gold {
	margin: 0.5rem;
	padding: 0.5rem;
	background-color: #eee;
	border: 1px solid rgb(0 0 0 / 10%);
    box-shadow: 5px 5px 8px rgba(77, 77, 77, 0.5);
    border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.6rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}
.navigation {
    padding-top: 7px;
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .815rem 10px;
    color: #000000;
    font-weight: bold;
    background-color: var(--nav-bg-color);
    font-size: 1.05rem;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 5px;
}

.navigation a:hover {
    background-color: bisque;
}

.SocialMedia ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    column-gap: 6px;
}

.SocialMedia img {
    border: none;
}

.grid-button, .list-button {
    font-size: 1.6rem;
    padding: .6rem;
}

.displayButtons{
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 15px
}

.container p, .container span {
    order: 2;
    word-break: break-all;
}

.container img {
    order: 1;
}

section h2 {
    border-bottom: 1px solid #000000;
}

.navigation li a.current {
    background-color: var(--nav-current-color);
}

.navigation li a.current:hover {
    background-color: bisque;;
}

.footerContainer {
    background-color: #eee;
}

.silver {
    background-color: var(--silver-membership);
}

.gold {
    background-color: var(--gold-membership);
}

.hero-container {
    position: relative; 
    width: 100%;
    overflow: hidden;
}

.hero-image {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.main-button {
    position: absolute;
    border-radius: 5px;
    font-size: 1.8vh;
    padding: .6rem;
    background: linear-gradient(135deg, #2c7f95, #f0d58c);
    cursor: pointer;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-button:hover{
    background: linear-gradient(135deg, #f0d58c, #2c7f95);
}

.forecast {
    margin-bottom: 15px;
    align-content: center;
    background-color: var(--nav-bg-color);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--nav-current-color);
}

.weatherSection p {
    text-align: center;
    font-weight: bold;
}

.eventImg {
    width: 90%;
    height: 100%;
    padding: 5px;
    object-position: center;
}

.form-container {
    display: block;
}

form input, .membership-select, .review {
    width: 90%;
}

.membership-container div {
    border-radius: .6rem;
    padding: 1.5rem;
    margin: 1rem;
    background-color: #3aa4c1;
    animation: fadeInUp 1.5s ease forwards;
}

form {
  margin: 0 1rem 2%;
}

form label {
    padding: .6rem;
  display: block; 
  font-size: .8rem; 
  color: purple; 
  padding-top: .2rem; 
} 

form h3 { 
  font-size: .9rem; 
  color: #E07A5F; 
  margin: 1.5rem 0 .2rem 0; 
  border-bottom: 1px solid #eee; 
} 

form input[type=text], 
form input[type=tel], 
form input[type=date], 
form input[type=email], 
form select { 
  display: block; 
  margin: .1rem 0 1rem 0; 
  padding: .3rem; 
  border: 1px solid #999; 
  border-radius: 4px; 
  border-left-width: 5px; 
  border-left-color: #555; 
  font-size: 1rem; 
  color: #3D405B; 
  width: 90%; 
} 

form input:required { 
  border-left-color: #d70000; 
} 

form input:focus { 
  border-left-color: black; 
  outline: none; 
} 

form input:required:valid { 
  border-left-color: green; 
} 

form input[type=submit] { 
  border: none; 
  text-align: center; 
  background-color: #3D405B; 
  color: white; 
  border-radius: 1rem; 
  padding: .75rem 1.5rem; 
  margin: 2rem 0; 
  font-size: 1.2rem; 
  -webkit-appearance: none; 
  appearance: none; 
  transition: opacity 0.3s ease, transform 0.3s ease; 
  cursor: pointer; 
} 

form input[type=submit]:hover { 
  background-color: #373951; 
  transform: translateY(-2.5px) scale(1); 
} 

form input:-webkit-autofill { 
  -webkit-text-fill-color: #3D405B; 
}

.membershipButton {
  background-color: #6dd73b;
  color: #000000;
  border: none;
  padding: 12px 20px;
  margin-left: .6rem;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.membershipButton:hover {
  background-color: #55b02b;
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 8px 15px rgba(212, 175, 55, 0.4);
}

.membershipButton:active {
  transform: translateY(-1px) scale(0.98);
  box-shadow: 0 4px 8px rgba(81, 212, 55, 0.3);
}

dialog {
    width: 70%;
    height: 70%;
    background-color: #ffffff;
    border: none;
    border-radius: 12px;
    padding: 24px;
    max-width: 400px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2);
}

dialog button {
    position: absolute;
    top: 23%;
    right: 23%;
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 10%);
}

dialog[open] {
  animation: dialogFadeIn 0.3s ease forwards;
}

dialog[open]::backdrop {
  animation: backdropFadeIn 0.3s ease forwards;
}

@keyframes dialogFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes backdropFadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

#closeModal {
    position: absolute;
    top: 4rem;
    right: 4rem;
    border: none;
    transition: 
        opacity 0.3s ease,
        transform 0.3s ease;
    cursor: pointer;
    border-radius: .6rem;
}

#closeModal:hover {
    background-color: #cecdcdaa;
    transform: translateY(1px) scale(.95);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#allPlaces div{
    margin: 1rem 8px;
    border: 1px solid #999;
    background-color : #eee;
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    grid-template-areas:
    "name"
    "photograph" 
    "description"
    "location"
    "LearnMore";
}
#allPlaces div h2 {
    margin: 1rem 10px;
    grid-area: name;
}

#allPlaces div img {
    width: 100%;
    grid-area: photograph;
}

#allPlaces div p {
    margin: 1rem 10px;
    grid-area: description;
}

#allPlaces div address {
    margin: 1rem 10px;
    grid-area: location;
}


#allPlaces div button {
    height: 30px;
    margin: 1rem 10px;
    grid-area: LearnMore;
}

.visitor-message {
    font-size: 1.2rem;
    padding: .5rem;
    text-align: center;
    font-weight: bold;
}