@media only screen and (min-width: 38rem){
    header, main, footer, nav {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: center;
        column-gap: 15px;
    }

    .navigation a {
        padding: 10px 40px;
        margin-left: 0;
    }

    .footerContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
    }


    .weather {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 15px;
    }

    .eventContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .eventContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .eventImg {
        width: 90%;
        height: auto;
        padding: 5px;
        object-position: center;
    }

    .eventContainer p {
        font-size: 1.2rem;
        padding-top: 15%;
    }

    .form-container {
        display: flex;
        justify-content: center;
    }
}