* {
    font-family: "Roboto", sans-serif;
}

:root {
    --nav-bg-color: rgb(94, 135, 225);
    --nav-current-color: #2c7f95;

}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 8px;
    align-items: end;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 3px;
}

header span {
    font-size: 1.2rem;
    color: black;
}

/**********************NAVIGATION************************/

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
}


.hamburger::before {
    content: "\2630";
    font-size: 1.6rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}
.navigation {
    padding-top: 4px;
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .815rem 10px;
    color: #000000;
    font-weight: bold;
    background-color: var(--nav-bg-color);
    font-size: 1.05rem;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 5px;
}

.navigation a:hover {
    background-color: bisque;
}

.navigation li.current{
    background-color: #eee;
}

.StudentPhoto, .About_Me {
    background-color: #aaa;
    padding-bottom: .2rem;
    margin-bottom: .6rem;
    border-radius: .2rem;
}

main h2 {
    text-align: center;
    color: #fff;
    background-color: #000000;
    margin: 0;
    margin-bottom: .4rem;
    border-radius: .2rem .2rem 0 0;
}

.StudentPhoto img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.SocialMedia ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    column-gap: 6px;
}

.Web-Certificates-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.Web-Certificates button {
    cursor: pointer;
    padding: .3rem 0 .3rem 0;
}

.courses {
    display: grid;
    margin-top: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.courses span {
    text-align: center;
    border: 1px solid #000000;
}

.courses span::before{
    background-color: #f0f0f0;
}
.credits {
    background-color: #d3d3d3;
    display: block;
    text-align: center;
}

.about_p {
    padding-left: .6rem;
}

.navigation li a.current {
    background-color: var(--nav-current-color);
}

.completed {
    background-color: #efc253;
}